<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iap</key>
	<array>
		<dict>
			<key>iap_android</key>
			<string></string>
			<key>iap_ios</key>
			<string>net.cookingentertainment.macncheesecook.bestdeal</string>
			<key>unlock</key>
			<string>bowl,spoon,fruit,food,drink</string>
			<key>iconname</key>
			<string>bg_bestdeal.png</string>
		</dict>
		<dict>
			<key>iap_android</key>
			<string></string>
			<key>iap_ios</key>
			<string>net.cookingentertainment.macncheesecook.drinks</string>
			<key>unlock</key>
			<string>drink</string>
			<key>iconname</key>
			<string>bg_drinks.png</string>
		</dict>
		<dict>
			<key>iap_android</key>
			<string></string>
			<key>iap_ios</key>
			<string>net.cookingentertainment.macncheesecook.spoons</string>
			<key>unlock</key>
			<string>spoon</string>
			<key>iconname</key>
			<string>bg_spoons.png</string>
		</dict>
		<dict>
			<key>iap_android</key>
			<string></string>
			<key>iap_ios</key>
			<string>net.cookingentertainment.macncheesecook.removeads</string>
			<key>unlock</key>
			<string>ads</string>
			<key>iconname</key>
			<string>bg_noads.png</string>
		</dict>
	</array>
	<key>decoration</key>
	<dict>
		<key>bottom</key>
		<dict>
			<key>rotatable</key>
			<false/>
			<key>zoomable</key>
			<false/>
			<key>eatable</key>
			<false/>
			<key>single</key>
			<true/>
			<key>beginIndex</key>
			<string>1</string>
			<key>totalcount</key>
			<string>1</string>
			<key>freecount</key>
			<string>7</string>
		</dict>
		<key>tree</key>
		<dict>
			<key>rotatable</key>
			<true/>
			<key>zoomable</key>
			<true/>
			<key>eatable</key>
			<false/>
			<key>single</key>
			<false/>
			<key>beginIndex</key>
			<string>1</string>
			<key>totalcount</key>
			<string>1</string>
			<key>freecount</key>
			<string>7</string>
		</dict>
		<key>light</key>
		<dict>
			<key>eatable</key>
			<false/>
			<key>single</key>
			<false/>
			<key>beginIndex</key>
			<string>1</string>
			<key>totalcount</key>
			<string>1</string>
			<key>freecount</key>
			<string>7</string>
			<key>zoomable</key>
			<true/>
			<key>rotatable</key>
			<true/>
		</dict>
		<key>gift</key>
		<dict>
			<key>eatable</key>
			<false/>
			<key>single</key>
			<false/>
			<key>beginIndex</key>
			<string>1</string>
			<key>totalcount</key>
			<string>1</string>
			<key>freecount</key>
			<string>7</string>
			<key>zoomable</key>
			<true/>
			<key>rotatable</key>
			<true/>
		</dict>
		<key>top</key>
		<dict>
			<key>eatable</key>
			<false/>
			<key>single</key>
			<false/>
			<key>rotatable</key>
			<true/>
			<key>zoomable</key>
			<true/>
			<key>beginIndex</key>
			<string>1</string>
			<key>totalcount</key>
			<string>1</string>
			<key>freecount</key>
			<string>7</string>
		</dict>
	</dict>
	<key>dectype</key>
	<dict>
		<key>common</key>
		<array>
			<dict>
				<key>TypeName</key>
				<string>bowl</string>
				<key>IconImageName</key>
				<string>btn_icon0</string>
			</dict>
			<dict>
				<key>TypeName</key>
				<string>spoon</string>
				<key>IconImageName</key>
				<string>btn_icon1</string>
			</dict>
			<dict>
				<key>TypeName</key>
				<string>fruit</string>
				<key>IconImageName</key>
				<string>btn_icon2</string>
			</dict>
			<dict>
				<key>TypeName</key>
				<string>drink</string>
				<key>IconImageName</key>
				<string>btn_icon3</string>
			</dict>
			<dict>
				<key>TypeName</key>
				<string>food</string>
				<key>IconImageName</key>
				<string>btn_icon4</string>
			</dict>
		</array>
		<key>tree</key>
		<array>
			<dict>
				<key>TypeName</key>
				<string>bottom</string>
				<key>IconImageName</key>
				<string>btn_icon0</string>
			</dict>
			<dict>
				<key>TypeName</key>
				<string>tree</string>
				<key>IconImageName</key>
				<string>btn_icon0</string>
			</dict>
			<dict>
				<key>TypeName</key>
				<string>light</string>
				<key>IconImageName</key>
				<string>btn_icon0</string>
			</dict>
			<dict>
				<key>TypeName</key>
				<string>gift</string>
				<key>IconImageName</key>
				<string>btn_icon0</string>
			</dict>
			<dict>
				<key>TypeName</key>
				<string>top</string>
				<key>IconImageName</key>
				<string>btn_icon0</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
